@import "text";
@import "color";

.boardPage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 40px;

  position: static;
  height: 100%;
  left: 0px;
  overflow-y: hidden;

  * + * {
    margin-top: 15px;
  }
}

.boardFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 40px;
    
  position: static;
  height: fit-content;
  left: 0px;
  
  .counter {
    @include roboto-14-regular;
    color: $black;
    align: center;
  }
  

  * + * {
    margin-left: 10px;
  }
}
