@import "color";
@import "text";

.header {
  margin-bottom: 25px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  background: $gray-6;
  * + * {
    margin-left: 10px;
  }
  .text {
    @include roboto-24-regular;
    width: 100%;
    color: $black;
    text-align: left;
  }
}

