@import "text";
@import "color";

.informationPage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 40px;

  position: static;
  width: 1152px;
  height: 600px;
  left: 0px;

  * + * {
    margin-top: 15px;
  }

  * * {
    margin-top: 0px;
  }
}