<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Problem Solvong Board</title>
</head>
<body>

<div id="authInfo" th:if="${isAuth}" style="visibility: hidden; display: none">
    <span id="authId" th:text="${user.id}">id</span>
    <span id="authUsername" th:text="${user.username}">username</span>
    <span id="authEmail" th:text="${user.email}">email</span>
    <span id="authPosition" th:text="${user.position}">position</span>
    <div th:if="${user.leader != null}">
        <span id="authLeader" th:text="${user.leader.id}">leader</span>
    </div>

</div>

<div id="root"></div>

<script src="/built/bundle.js"></script>

</body>
</html>
